@model IEnumerable<Music_Store.Models.Musician>

@{
    ViewData["Title"] = "Index";
}

<h2 style="font-family: 'Dancing Script', cursive; text-align:center;">Musicians</h2>

<p>
    <a asp-action="Create" style="color:#c4aead">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" style="color:#c4aead">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" style="color:#c4aead">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="color:#c4aead">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
